.idea
.DS_Store
mnt
.env
.prod.env

.venv/
venv/
.env
*.env
*.local

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

data/
logs/
*.log
*.pid
*.seed
*.cover

.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

alembic/versions/*.pyc
alembic/versions/*.pyo
alembic/versions/*.pyd

.vscode/
.idea/
*.ipynb_checkpoints/

.dockerignore
docker-compose.override.yml
docker-compose.override.yaml
*.db
*.sqlite
*.sqlite3

notes.txt